
<div style="">
    {% form 'customer' %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input id="email"  name="contact[email]" type="email" style="height: 35px;font-size:16px;"/>
        <button type="submit" style="width:50px;height:35px; padding:7px; border:0; position:relative; bottom:3px">{% render 'icon-email' %}</button>
    {% endform %}
</div>
