{{'custom-head.css' | asset_url | stylesheet_tag}}
<div class="head-container">
    <div class="wrap-menu">
        <ul class="menu-mega-container">
            <li style="background: gold;" class="items-menu-mega">
                <a>home 1</a>
                <div class="sub-menu-mega" style=" margin-right:0px;margin-left:0px;">
                    {%- comment -%} type show chiren menu {%- endcomment -%}
                    <div class="item-menu-mega" style="background: pink;">
                        <ul>
                            <li>thanh kaka</li>
                            <li>thanh kaka1</li>
                            <li>thanh kaka2</li>
                            <li>thanh kaka3</li>
                        </ul>
                    </div>
                    <div class="item-text-mega" style="width:30%">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt ea unde architecto. Fuga maxime similique nostrum, eius odit veniam consectetur, error consequatur dolore sint ipsam at ipsum vel rem quas?
                    </div>
                    <div class="item-img-mega">
                        {%- comment -%} {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }} {%- endcomment -%}
                        <img src="https://vaithuhayho.com/wp-content/uploads/2021/03/hinh-anh-dep-51.jpg" width="auto" height="auto" loading="lazy"/>
                    </div>
                </div>
            </li>
            <li>
                <a>home 2</a>
                <ul class="head-container__sub-menu" style="width: 100vw; text-align:center">
                    <li>sub home 1</li>
                    <li>sub home 2</li>
                    <li>sub home 3</li>
                </ul>
            </li>
            <li>
                <a>home 3</a>
            </li>
            <li>
                <a>home 4</a>
            </li>
        </ul>
    </div>
    {% for block in section.blocks %}
        <div>{{ block.title_text }} - {{ forloop.index }}</div>
    {% endfor %}
</div>
{% schema %}
{
    "name":"Header",
    "tag":"section",
    "settings":[
        {
            "type":"checkbox",
            "id":"type_menu",
            "default":true,
            "label":"Type menu"
        },
        {
            "type":"checkbox",
            "id":"default_menu",
            "default":true,
            "label":"Default size menu"
        }
    ],
    "blocks":[
        {
            "type":"text",
            "name":"Text",
            "settings":[
                {
                    "type":"text",
                    "id":"title_text",
                    "default":"demo Text",
                    "label":"Title text"
                }
            ]
        }
    ]
}
{% endschema %}