<div style="background:brown; height:500px">
    demo
   
</div>
{% schema %}
{
    "name":"Demo",
    "settings":[
        {
            "type":"text",
            "id":"heading",
            "default":"toi la demo",
            "label":"Heading"
        },
        {
            "type":"checkbox",
            "id":"default_menu",
            "default":true,
            "label":"Default size menu"
        }
    ]
}
{% endschema %}