{{'common.css' | asset_url | stylesheet_tag}}
<div class="">
   <div class="row">
        {% for block in section.blocks %}
            {% if forloop.index <= section.settings.img_num %}
                <div class="child-container col" >
                  <div style=" background: pink;" class="wrap-content">
                    {% if block.settings.image != blank %}
                    <img class="custom-img"  src="{{block.settings.image | img_url: 'medium'}}"/>
                    {% else %}
                        {{'img' | placeholder_svg_tag: 'custom-img'}}
                    {% endif %}
                    <div class="content">
                        <p class="demo">{{block.settings.content}}</p>
                    </div>
                  </div>
                </div>
            {% endif %}
        {% endfor %}
   </div>
</div>
{% schema %}
{
    "name":"List Img Full Width",
    "tag":"section",
   "settings": [
        {
            "type": "range",
            "id": "img_num",
            "label": "select img",
            "default":6,
            "min":2,
            "max":8
        }
   ],
   "blocks":[
        {
            "type":"add_img",
            "name":"Navigator",
            "settings":[
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "select_img"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "button_link"
                },
                {
                    "type": "text",
                    "id": "content",
                    "default": "Multimedia collage",
                    "label": "t:sections.collage.settings.heading.label"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"List Img Full Width" 
        }
    ]
}
{% endschema %}