{% style %}
    .h-img{
        height:200px
    }
{% endstyle %}
<div class="{%if section.settings.max_width != true%}page-width{% endif %}" style="display: flex;justify-content:center;align-items:center;">
   {% if section.settings.image != blank %}
       <a href="{{section.settings.img_link}}">
            <img {% if section.settings.max_width_img == true %}width="100%"{%else%} height="150px"{% endif %} src="{{section.settings.image | img_url: 'master'}}"/>
       </a>
    {% else %}
        {{ 'image' | placeholder_svg_tag: 'h-img' }}
   {% endif %}
</div>

{% schema %}
{
    "name":"Show Image",
    "tag":"section",
   "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "select_img"
        },
        {
            "type": "url",
            "id": "img_link",
            "label": "link"
        },
        {
            "type": "checkbox",
            "id": "max_width",
            "default": true,
            "label": "max width"
        },
        {
            "type": "checkbox",
            "id": "max_width_img",
            "default": true,
            "label": "max width image"
        }
   ],
    "presets":[
        {
            "name":"Show Image" 
        }
    ]
}
{% endschema %}